* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #f1f1f3;
}
/* =================Commmon CSS  ================== */

/* =================Commmon CSS  ================== */

.commonTitle {
  font-family: "Fira Sans", serif;
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 32px;
}

.commonText {
  font-family: "Fira Sans", serif;
  font-size: 16px;
  font-weight: 400;
  color: #222222ab;
  margin-bottom: 32px;
}

/* =================Header Part Design Start ================== */
.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0px;
}
.logo {
  font-family: "Fira Sans", serif;
  font-size: 32px;
  font-weight: 700;
  color: #0e0e0e;
}
.navBtn{
  padding: 15px 30px;
  font-family: "Fira Sans", serif;
  font-size: 18px;
  font-weight: 500;
  color: #006a50;
  border: 1px solid #006a50;
  border-radius: 8px;
  transition: .5s all ease-in-out;
}
.navBtn:hover{
    background: #006a50;
    color: white;

}

/* =================Header Part Design End ================== */

/* =================Banner Part Design Start ================== */

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 115px 60px;
  background: #c6e4d6;
  border-radius: 24px;
}

.bannerSubTitle {
  font-family: "Fira Sans", serif;
  font-size: 28px;
  font-weight: 500;
  color: #5549498c;
  margin-bottom: 16px;
}

.bannerTitle {
  width: 550px;
  font-family: "Fira Sans", serif;
  font-size: 54px;
  font-weight: bolder;
  color: #0e0e0e;
  margin-bottom: 24px;
}

.bannerBtn {
  padding: 17px 34px;
  background: #006a50;
  color: white;
  border: none;
  border-radius: 8px;
  font-family: "Fira Sans", serif;
  font-size: 18px;
  font-weight: 600;
}

.bannerBtn:hover {
    
    background: transparent;
    color: #006a50;
    border: 1px solid #006a50;

  }
  
/* =================Banner Part Design End ================== */

/* =================Piller Part Design End ================== */
.mainPiller {
  padding: 80px 0px;
}

.bannerTitle {
  width: 550px;
  font-family: "Fira Sans", serif;
  font-size: 54px;
  font-weight: bolder;
  color: #0e0e0e;
  margin-bottom: 24px;
}

.subPiller {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.subCard {
  padding: 24px;
  border: 1px solid #6d6d6e4b;
  background: white;
  border-radius: 24px;
}

.cardTitle {
  font-family: "Fira Sans", serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.cardText {
  font-family: "Fira Sans", serif;
  font-size: 16px;
  font-weight: 400;
  color: #707070dc;
}

.cardImg {
  width: 64px;
  margin-bottom: 31px;
}

/* =================Piller Part Design End ================== */

/* =================Vision Part Design Start ================== */

.mainVision {
  padding: 80px 0px;
}

.subVision {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding-top: 32px;
}

.visionCard1 {
  background: #d3e0f5;
  padding: 32px;
  border: none;
  border-radius: 16px;
}
.visionCardBtn1 {
  padding: 10px 20px;
  margin-top: 24px;
  background: #5490f5;
  color: white;
  font-family: "Fira Sans", serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}

.visionCard2 {
  background: #c6e4d6;
  padding: 32px;
  border: none;
  border-radius: 16px;
}
.visionCardBtn2 {
  padding: 10px 20px;
  margin-top: 24px;
  background: #006a50;
  color: white;
  font-family: "Fira Sans", serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}

.visionCard3 {
  background: #f7ebcf;
  padding: 32px;
  border: none;
  border-radius: 16px;
}
.visionCardBtn3 {
  padding: 10px 20px;
  margin-top: 24px;
  background: #ffc239;
  color: white;
  font-family: "Fira Sans", serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}

/* =================Vision Part Design End ================== */

.dr {
  padding: 48px 30px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.192);
  border-radius: 16px;
  margin-bottom: 80px;
}
.drtext {
  font-family: "Fira Sans", serif;
  font-size: 18px;
  font-weight: 400;
  background-image: url(../img/quote-bg.png);
  background-repeat: no-repeat;
  background-position: left top;
}

.drName {
  font-family: "Fira Sans", serif;
  font-size: 20px;
  font-weight: 600;
}

/* ================Blog Section Design Start =================== */

.mainBlog {
  padding: 80px 0px;
}

.post {
  padding: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  background: white;
  border: 1px solid rgba(85, 82, 82, 0.274);
  margin-bottom: 30px;
  border-radius: 24px;
}
.postImg {
  width: 400px;
  border-radius: 24px;
}
.postCardTitle {
  font-family: "Fira Sans", serif;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
}
.postCardImg {
  margin-bottom: 12px;
}
.postCardText {
  font-family: "Fira Sans", serif;
  font-size: 16px;
  font-weight: 400;
  color: #222222ab;
}
.postButton {
  padding: 13px 26px;
  background: #006a50;
  color: white;
  border: none;
  border-radius: 8px;
  font-family: "Fira Sans", serif;
  font-size: 16px;
  font-weight: 600;
}
.postButton:hover{
    background: transparent;
    border: 1px solid #006a50;
    color: #006a50;
}


/* ================Blog Section Design End =================== */

/* ================Donate Section Design Start =================== */
.mainDonate {
  padding: 80px 90px;
}

.donateTile {
  font-family: "Fira Sans", serif;
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 32px;
  text-align: center;
}

.donateText {
  font-family: "Fira Sans", serif;
  font-size: 16px;
  font-weight: 400;
  color: #222222ab;
  margin-bottom: 32px;
  text-align: center;
}

.donateBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
  gap: 32px;
}
.donateBox1 {
  background: #ffffff;
  padding: 40px;
  border: none;
  border-radius: 16px;
  border: 1px solid #4e525125;
}

.donateBox1:hover {
  background: #bef1e5;
}
.donateBoxTitle {
  font-family: "Fira Sans", serif;
  font-size: 30px;
  font-weight: 700;
}

.donateAmount {
  text-align: center;
  padding: 20px 0px;
  background: #ffffff;
  border-radius: 8px;
  font-family: "Fira Sans", serif;
  font-size: 16px;
  font-weight: 400;
  color: #3b3b443f;
  margin-bottom: 32px;
}
.donateBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.donateBtn1 {
  padding: 13px 26px;
  background: #006a50;
  color: white;
  border: none;
  border-radius: 8px;
  font-family: "Fira Sans", serif;
  font-size: 16px;
  font-weight: 600;
  transition: .5s all ease-in-out;
}

.donateBtn1:hover{
    background: transparent;
    border: 1px solid #006a50;
    color: #006a50;
}

/* ================Donate Section Design End =================== */
/* ================Newslater Section Design Start =================== */

.Newsletter{
    padding: 80px 0;
}

.mainNewsletter {
  background: #bef1e5;
  padding: 80px 260px;
  border-radius: 24px;
}
.subscribeFrom{
    width: 100%;
    height: 60px;
    position: relative;
    background: white;
    border-radius: 8px;
}

.subscribeFrom input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    color: #5e5d5dad;
    border: transparent;
    padding-left: 20px;
    border-radius: 8px;
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
}
.subscribeFrom button{
    width: 150px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #006a50;
    color: white;
    border: none;
    border-radius: 0 8px 8px 0;
    font-family: "Fira Sans", serif;
    font-size: 18px;
    font-weight: 600;
}
.subscribeFrom button:hover{
    background: white;
    color: black;
    font-family: "Fira Sans", serif;
    font-size: 18px;
    font-weight: 600;
    

}

.donateText2{
    margin-top: 30px;
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #929b97;
}
/* ================Newslater Section Design End =================== */



/* ================Footer Section Design Start =================== */

.mainFooter{
    text-align: center;
    padding: 80px 0 80px 0;
}
.footerTitle{
    font-family: "Fira Sans", serif;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 64px;
}
.footerIcon img{
    margin-right: 24px;
}
/* ================Footer Section Design End =================== */
